body{
	padding: 0;
	margin: 0;
}
section{
	width: 100%;
	height: 100vh;
	background: url(img/bg.jpg) 40% 50% no-repeat;
	background-size: cover;
	display: table;
	z-index: -1;
}
.container{
	margin-top: 120px;
	background: rgba(0, 0, 0, 0.2);
}
#parallax{
	position: relative;
}
.container__section{
	padding-top: 100px;
	overflow: hidden;
	width: 100%;
	height: 70vh;
	background: url(img/11.jpg) 50% 50% no-repeat;
	background-size: cover;
	display: block;
}
.container__section__two{
	padding-top: 100px;
	overflow: hidden;
	padding-top: 140px;
	width: 100%;
	height: 70vh;
	background: url(img/12.jpg) 50% 50% no-repeat;
	background-size: cover;
	display: block;
}
.container__section__tree{
	padding-top: 100px;
	overflow: hidden;
	padding-top: 140px;
	width: 100%;
	height: 70vh;
	background: url(img/13.jpg) 50% 50% no-repeat;
	background-size: cover;
	display: block;
}
.container__section__four{
	padding-top: 100px;
	overflow: hidden;
	padding-top: 140px;
	width: 100%;
	height: 70vh;
	background: url(img/15.jpg) 50% 50% no-repeat;
	background-size: cover;
	display: block;
}
.wrap h1, .wrap p{
	margin: 0 auto;
	background: rgba(0,0,0,.7);
	width: 50%;
	color: white;
}
.mainmenu{
	text-align: center;
	position: fixed;
	display: block;
	width: 100%;
	height: 25px;
	z-index: 2;
	transition-duration: 0.5s;
}
.addnav{
	background: rgba(255,255,255,.7);
}
.mainmenu li, ul{
	padding: 0;
	list-style: none;
	display: inline-block;
}
.mainmenu ul li a{
	padding: 10px;
	color: black;
	font-size: 16px;
	font-family: Source Sans Pro;
	font-weight: lighter;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.3s;

}
#sidebar.active > .mainmenu{
	display: block;
}
.mainmenu ul li a:hover{
	text-decoration: none;
	color: white;
	clear: right;
}
#sidebar .toggle-btn{
	z-index: 2500;
	position: fixed;
	right: 5px;
	top: 5px;
	padding: 5px;
	display: none;
	transition: 0.3s;
}
#sidebar .toggle-btn span{
	display: block;
	width: 20px;
	height: 3px;
	background: black;
	margin: 4px;
	z-index: 1500;
}
.active-btn{
	opacity: 0.5;
}
h1{
	z-index: 2;
	color: white;
	font-family: Source Sans Pro;
	font-weight: 300;
	font-size: 300%;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
}
p{
	z-index: 2;
	color: white;
	font-family: Source Sans Pro;
	font-weight: lighter;
	letter-spacing: 15px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px;

}
/*Loader*/
.preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #252525;
	z-index: 3500;
	transition: 0.5s all;
	opacity: 1;
	visibility: visible;
}

.preloader img{
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.bg-img-loader{
	position: absolute;
	background: url(../img/logo-white.png);
	background-repeat: no-repeat;
	background-size: 40%;
	z-index: 2500;
	width: 100%;
	height: 100%;
	background-position: center;
	animation: 2s bgpreloaderimg infinite linear;
	opacity: 0.15;

}
@keyframes bgpreloaderimg{
	0%{
		filter: blur(10px);
		background-size: 40%;
	}
	50%{
		filter: blur(20px);
		background-size: 45%;
	}
	100%{
		filter: blur(10px);
		background-size: 40%;
	}
}
.preloader.done{
	opacity: 0;
	visibility: hidden;
}


@media (max-width: 768px){
	#sidebar .toggle-btn{
		display: block;
	}
	.mainmenu ul li a:hover{
		color: gray;
	}
	.mainmenu{
		display: none;
		background: rgba(255,255,255,.9);
		height: 20%;

	}
	.mainmenu ul li{
		display: block;
		padding: 5% 0;
	}
	.mainmenu ul li a{
		font-size: 14px;
		padding: 4px;
		letter-spacing: 3px;
	}
	h1{
		color: black;
		font-size: 150%;
		letter-spacing: 3px;
	}
	p{
		color: black;
		font-size: 16px;
		letter-spacing: 3px;
	}
	.wrap{
		padding: 5px;
	}
}