*{
	text-decoration: none;
	list-style: none;
	color: #e3e3e3;
}
body{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	/*background: #d9d9d9;*/
	background: radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(32,32,32,1) 73%);
	font-family: Raleway;
	text-align: center;
	height: 100vh;
}
section{
}
img{
	width: 250px;
	transition: 0.3s;
}
img:hover{
	width: 300px;
}
.social{
	background: #202020;
}
.social a{
	color: #e3e3e3;
	padding: 15px;
	display: inline-grid;
	text-decoration: none;
}
h2{
	color: #e3e3e3;
}
.fa-instagram:hover{
	color: #D92E7F;
}
.fa-vk:hover{
	color: #4A76A8;
}
.fa-facebook-f:hover{
	color: #3b5998;
}
.fa-instagram, .fa-vk, .fa-facebook-f{
	color: #e3e3e3;
	transition: .3s;
}
.wrap{
	flex: 1;
	white-space: pre-line;
	-ms-flex-preferred-size: auto;
}
section {
	height: auto !important;
}

#footer{
	bottom: 0;
	width: 100%;
	color: #e3e3e3;
	background: #202020;
	text-decoration: none;
	font-size: 14px;
	z-index: 3;
	height: 70px;
}