body{
	padding: 0;
	margin: 0;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}
#section-bg{
	width: 100%;
	height: 100vh;
	background: #2b3499;
	background: -moz-radial-gradient(center, ellipse cover, #2b3499 1%, #0e1454 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #2b3499 1%,#0e1454 100%);
	background: radial-gradient(ellipse at center, #2b3499 1%,#0e1454 100%);
	transition: 0.3s;
	z-index: 1;
}
#text h2{
	font-family: Source Sans Pro;
	font-weight: lighter;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: absolute;
	color: white;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	text-transform: 
	z-index: 100;
}
.bg_1_1{
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	filter: blur(4px);
	z-index: 100;
}
.bg_1_2{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30%;
	filter: blur(4px);
	z-index: 100;
}
.bg_2_2{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 20%;
	filter: blur(5px);
	z-index: 100;
}
.bg_2_1{
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	filter: blur(5px);
	z-index: 100;
}
.man{
	position: absolute;
	width: 40%;
	z-index: 1500;
	left: 50%;
	bottom: 20%;
	transform: translateX(-50%);
}
.luna{
	filter: blur(2px);
	position: absolute;
	top: 5%;
	left: 50%;
	width: 20%;
	z-index: 100;
}

.planet{
	position: absolute;
	left: 0;
	top: 20%;
	width: 25%;
	filter: blur(2px);
	z-index: 100;
}
.roket{
	position: absolute;
	left: 15%;
	top: 10%;
	width: 15%;
	z-index: 100;
}

@media (max-width: 768px){
	.bg_1_1{
		width: 50%;
	}
	.bg_1_2{
		width: 50%;
	}
	.man {
		bottom: 10%;
		width: 70%;
		left: 40%;
		transform: translateX(-30%);
	}
	.luna{
		width: 30%;
	}
	.planet{
		left: 0;
		top: 10%;
		width: 25%;
	}
	.roket{
		left: 5%;
		top: 15%;
		width: 35%;
	}
	.bg_2_1{
		width: 35%;
	}
	.bg_2_2{
		width: 30%;
	}
}


@media (max-width: 512px) {
	.bg_1_1{
		width: 100%;
	}
	.bg_1_2{
		width: 100%;
	}
	.man {
		width: 110%;
		left: 70%;
		transform: translateX(-40%);
	}
	.luna{
		width: 70%;
	}
	.planet{
		left: 0;
		top: 80%;
		width: 65%;
	}
	.roket{
		left: 5%;
		top: 5%;
		width: 55%;
	}
	.bg_2_1{
		width: 45%;
	}
	.bg_2_2{
		width: 50%;
	}
}
