/* 1601 - 1920 px */
@media screen and (max-width: 1920px) {

}

@media screen and (min-width: 1601px){

}
/* 1369 - 1600 px */
@media screen and (max-width: 1600px) {

}

/* 961 - 1368 px */
@media screen and (max-width: 1368px) {

}

/* 769 - 960 px */
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 809px) {
	.icons__insta, .search__insta{
		display: none;
	}
	.header__line a{
		margin-right: auto;
		margin-left: auto;
	}
	.bottom__panel{
		display: block;
	}
}
/* 481 - 768 px */
@media screen and (max-width: 768px) {
	.container{
		margin: 0;
	}
	.col-sm-6{
		padding: 0;
	}
	.description__profile__insta h4, .description__profile__insta p {
		text-align: center;
	}
	header{
		height: 40px;
	}
	.header__line{
		padding: 0;
	}
	.line__properties{
		display: inline-block;
	}
	.instafeed__link a{
		filter: grayscale(0) blur(0);
	}
}

/* 320 - 480 px */
@media screen and (max-width: 480px) {

}