* {
	box-sizing: border-box;
}

div{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
body{
	-webkit-overflow-scrolling: touch
	-webkit-text-size-adjust: none
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	background: #e3e3e3;
	color: #111;
}
a, h1, h2, h3, h4, li, ul, p{
	text-decoration: none;
	list-style: none;
	line-height: 1.2em;
}

.my__container{
	margin-right: auto;
	margin-left: auto;
}

/*Bot*/
.bottom{
	display: block;
	text-align: center;
}
.button-item {
	display: inline-flex;
	padding-bottom: 2em;
}


/*IMG*/
.img__container{
	width: 250px;
	height: 395px;
}
.img__header{
	padding: 5%;
	width: 90%;
	position: relative;
}

/*Header*/
#menu ul{
	text-align: center;
	white-space: nowrap
}
#word-mark p{
	color: #d9d9d9;
}

.img__header{
	transition: 0.3s;
}
#head-line{
	text-align: center;
	position: relative;
}

/*Text edit*/
.text__center{
	text-align: center;
}
.text__center h3, .text__center p, .text__center a{
	text-decoration: none;
	color: #111;
}
.other__repaire a{
	color: #111;
	text-decoration: none;
	transition: 0.3s;
}
.other__repaire a:hover{
	color: #111;
}



