.profile{
	display: grid;
	grid-template-columns: 1fr 2fr;
	color: var(--black-color);
}
.profile__body a{
	color: var(--black-color);
	margin: 10px 0;
}
.profile__body{
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}
.profile__body .active{
	font-weight: 600;
}
.profile__body__item{
	display: flex;
}
.profile__body__item__product{
	display: grid;
	grid-template-columns: 1fr 2fr 0.5fr;
	grid-row-gap: 15px;
	grid-column-gap: 15px;
}
.profile__body__item img{
	width: 100%;
	max-height: 96px;
	object-fit: cover;
}
.order__body__item__product{
	padding: 5px 15px;
	margin: 20px 0;
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	align-items: center;
}
.order__body__item__product div:last-child{
	text-align: right;
}
.profile__body__edit{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 30px;
	grid-column-gap: 30px;
	margin: 30px 0;
}
.profile__body__edit input{
	width: 100%;
	min-width: 255px;
}
@media screen and (max-device-width: 769px){
	.profile{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}
	.profile__body__edit{
		grid-template-columns: 1fr 1fr;
		margin: 20px auto;
	}
	.profile__body{
		justify-content: center;
		width: 100%;
	}
}
@media screen and (max-device-width: 560px){
	.profile__body__edit{
		grid-template-columns: 1fr;
	}
}
@media screen and (max-device-width: 425px){

}