.about__page{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.about__page__title{
    width: 100%;
    font-size: 18px;
    color: var(--blackgray-lite-color);
}
.about__page__title img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.about__page__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about__page__body h2, .about__page__body h3{
    color: var(--blackgray-lite-color);
}
.about__page__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.about__page__body__item{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.about__page__body__item a, .about__page__body__item span{
    margin: 5px 0;
    padding: 5px;
}

