*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nanum Gothic', sans-serif;
	letter-spacing: 0.03em;
	line-height: 20px;
}
body{
	/* overflow: hidden; */
}
:root{
	--white-color:#ffffff;
	--white-lite-color:#F5F8FA;
	--white-lite-gray-color:#E5E6EB;
	--gray-lite-color:#E5E6EB;
	--gray-color:#d1d1d1;
	--blackgray-lite-color:#5F6A71;
	--black-lite-color:#263640;
	--black-color:#0C161D;
	--red-lite-color:#f85d4f;
	--red-color:#F32D1A;
	--red-dark-color:#C63D30;
	--black-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0,25);
}
ul, li, a{
	list-style: none;
	color: var(--black-color);
	text-decoration: none;
	transition: 0.3s ease-in-out;
}
a:hover{
	color: var(--red-color);
}
ol, ul, ol, ul, dl{
	margin-top: 0;
    margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
p{
	margin-bottom: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
	-moz-appearance: number-input;
  }
#preloader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	/* background: var(--white-color); */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	backdrop-filter: blur(5px);
}
#preloader::after{
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgb(255 255 255 / 75%);
	z-index: -1;
	animation-iteration-count: 1;
	animation: bgloaded 2s ease-in-out;
}
#preloader__bg{
	background: var(--red-color);
	width: fit-content;
	height: fit-content;
	padding: 10px;
	animation-iteration-count: 1;
	animation: opacotyload 1s ease-in-out;
}
#preloader__logo{
	width: 40vw;
	display: block;

}
#preloader__logo svg{
	position: relative;
	width: 100%;
	height: 100%;
}
.out {
	filter: blur(2px);
	transition-duration: 1s;
	opacity: 0;
}
section{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 90px auto;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	animation: 0.3s;
	background: var(--red-color);
	padding: 15px 20px;
	color: var(--white-color);
	border: 2px solid var(--red-color);
	cursor: pointer;
	transition: 0.3s ease-in-out;
	border-radius: 0;
}
.btn:hover{
	background: var(--white-color);
	color: var(--red-color);
}
.crumbs nav ol{
	display: inline-flex;
	width: 100%;
}
.crumbs nav li{
	margin-right: 5px;
}
#margintop{
	margin-top: 40px ;
	margin-bottom: 90px;
}
.nav-tabs .nav-link{
	margin-bottom: 0;
	border-radius: 0;
	border-color: none;
	color: var(--black-lite-color);
}
.nav-tabs{
	border-bottom: transparent;
}
.nav-link{
	padding: 5px;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
	border-color: none;
	background: transparent;
	color: var(--red-color);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	background: transparent;
	color: var(--red-color);
	border-color: transparent;
}
.nav-tabs .nav-link::after{
	content: ' |';
	color: var(--black-lite-color);
}
.nav-tabs .nav-link:last-child:after{
	content: '';
}
.dropdown-menu{
	position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 20px;
    margin: 0;
    font-size: inherit;
    color: inherit;
    text-align: left;
    list-style: none;
    background-color: var(--white-color);
    background-clip: padding-box;
    border: none;
    border-radius: 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.dropdown-menu li{
	padding: 5px 10px;
}
.dropdown-menu li a{
	display: flex;
	justify-content: start;
	align-items: center;
}
.black{
	animation: 0.3s;
	background: var(--black-color);
	padding: 15px 20px;
	color: var(--white-color);
	border: 2px solid var(--red-color);
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.black:hover{
	border: 2px solid var(--red-color);
	background: var(--white-color);
	color: var(--black-color);
}
.link{
	color: var(--white-color);
	font-size: 18px;
	position: relative;
}
.link::after{
	content: '';
	width: 100%;
	height: 20px;
	color: var(--white-color);
	position: absolute;
	bottom: -1px;
	left: 0;
}
.extra__bold{
	font-size: 55px;
	font-weight: 800;
}
h1{
	font-size: 42px;
	font-weight: 600;
}
h2{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 30px;
}
h3{
	font-size: 16px;
	font-weight: 600;
}
body{
	background: var(--white-color);
	color: var(--black-color);
}

input, select{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid var(--blackgray-lite-color);
	max-width: 255px;
	transition: 0.3s ease-in-out;
}
input::placeholder{
	color: var(--blackgray-lite-color);
	font-size: 16px;
}
input:hover{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
input:active{
	border-radius: none;
	border: 1px solid var(--black-color);
}

.slick-list{
	padding: 10px 0;
}
.container{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	transition: 0.5s ease-in-out;
}

/* Header */
header{
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 5px;
	background: var(--white-color);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	z-index: 500;
	transition: 0.2s ease-in-out;
}
.header__top, .header__bottom{
	margin-top: 5px;
	transition: 0.3s ease-in-out;
}
.header__logo{
	max-width: 86px;
	height: 100%;
	display: block;
}
.header__logo img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.header__top input{
	padding: 5px 20px;
	border: 1px solid var(--gray-color);
	border-radius: 3px;
	max-width: 445px;
	width: 100%;
}
.header__top input::placeholder{
	color: var(--gray-color);
}
.header__phone{
	display: flex;
	flex-flow: column;
}
.header__phone__item{
	font-size: 16px;
	font-weight: 800;
	text-align: left;
	cursor: pointer;
}
.header__phone__item:hover p, .header__adress:hover a{
	color: var(--red-color);
}
.header__phone__item img{
	margin-right: 10px;
	max-height: 18px;
	opacity: 0.8;
}
.header__time__item{
	font-weight: 500;
}
.header__adress{
	height: 100%;
	position: relative;
}
.header__adress a, .header__phone__item p{
	transition: 0.3s ease-in-out;
}
.header__adress img{
	margin-right: 10px;;
}
.btn__catalog{
	font-size: 18px;
}
.menu__burger{
	height: 24px;
	width: 24px;
	position: relative;
	flex-flow: column;
}
.menu__burger span{
	content: '';
	width: 24px;
	height: 4px;
	background: var(--white-color);
	display: block;
	margin-right: 10px;
	position: relative;
	border-radius: 3px;
}
.btn__catalog:hover{
	background: var(--red-dark-color);
	color: var(--white-color);
	border: 2px solid var(--red-dark-color);
}

.menu{
	display: flex;
	align-items: center;
	position: relative;
}
.mainmenu ul{
	display: flex;
	left: 0;
	font-size: 16px;
}
.mainmenu li{
	margin: 0 10px;
}
.mainmenu a:hover{
	text-decoration-line: underline;
}
.header__profile{
	padding: 0;
	height: 100%;
	border: none;
	position: relative;
}

.header__profile__login{
	padding: 15px 20px;
	height: 58px;
	color: var(--white-color);
	background: var(--black-lite-color);
	cursor: pointer;
	transition: 0.3s ease-in-out;
	position: relative;
	z-index: 550;
}
.header__profile__login span{
	padding-left: 10px;
}
.header__profile__login img:last-child{
	display: none;
}
.but__personal{
	position: absolute;
	width: 100%;
	height: fit-content;
	background: var(--white-color);
	bottom: 0px;
	right: 0;
	display: flex;
	flex-direction: column;
	z-index: 501;
	transition: 0.3s ease-in-out;
	opacity: 0;
	cursor: pointer;
}
.active__but__personal{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	bottom: -60px;
	opacity: 1;
}
.but__personal span{
	color: var(--red-color);
	margin: 5px;
	font-size: 16px;
	text-align: center;
	padding: 0;
}
.but__personal span:hover{
	text-decoration:underline;
}
.header__profile__login:hover{
	background: var(--black-color);
}

.header__profile__cart{
	background: var(--red-color);
	padding: 15px;
	height: 100%;
	max-height: 58px;
	z-index: 550;
	transition: 0.3s ease-in-out;
}
.header__profile__cart:hover{
	background: var(--red-dark-color);
}
.scroll{
	padding-top: 0;
}
.scroll .header__top{
	height: 0;
}
.scroll .container{
	max-width: 100%;
	transition-delay: 1s;
}
.scroll .mainmenu li{
	margin: 0 5px;
}

.catalog__list{
	position: fixed;
	padding: 5px;
	border: 1px solid blue;
	background: gray;
	z-index: 560;
}

/* hero */

.hero{
	height: 70vh;
	position: relative;
	max-height: 600px;
	overflow: hidden;
}
.title{
	width: 50%;
	color: var(--white-color);
	flex-flow: column;
	align-items: flex-start;
}
.title h1, .title a, .title p{
	margin: 10px 0;
}
.title p{
	font-weight: 400;
}
.title .link{
	color: var(--white-color);
}
.hero__bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -3;
}
.hero__bg img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: saturate(0%) contrast(50%) brightness(0.4);
}
.hero__molot{
	position: absolute;
	max-height: 60vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.45));
}
.hero__prebg{
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}
/* slick-prev slick-arrow */
.hero__slider{
	position: relative;
}
.hero__slider .slick-list{
	padding: 0;
}
.hero__slider .slick-arrow{
	position: absolute;
	background: var(--black-color);
	z-index: 50;
	left: auto;
	top: auto;
	height: 64px;
	width: 64px;
	bottom: -32px;
	right: 0px;
	transition: 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease-in-out;
}
.hero__slider .slick-prev{
	right: 64px;
}
.hero__slider .slick-arrow:hover{
	background: var(--red-color);
}
.hero__slider .slick-arrow img{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	object-fit: none;
}

/* Offer */
.offer{
	position: relative;
	font-size: 16px;
	padding: 10px 0;
}
.offer__item{
	position: relative;
	/* max-width: calc(80vw/4); */
	min-height: 305px;
	height: 100%;
	padding: 10px;
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	transition: 0.3s ease-in-out;
}
.offer__item .buy{
	text-align: center;
	width: 100%;
	z-index: 1;
	left: 0;
	transition: 0.3s ease-in-out;
	padding: 10px;
	
}
.offer__item .desc{
	margin-top: 10px;
	cursor: pointer;
	color: var(--black-color);
	font-size: 16px;
}
.offer__item:hover{
	min-height: 370px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.offer__item:hover .buy{
	bottom: 0;
}
.offer__item span{
	font-weight: 600;
	margin-top: 10px;
}
.offer__item .desc{

}
.offer__item img{
	width: 100%;
	height: 100%;
	max-height: none;
	object-fit: cover;
	transition: 0.3s;
	z-index: -1;
}
.slick-arrow{
	position: absolute;
	height: 36px;
	width: 36px;
	background: var(--white-color);
	border: none;
	z-index: 1;
	cursor: pointer;
	background: var(--red-color);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease-in-out;
}
.slick-next{
	right: -56px;
	top: 50%;
	transform: translate(0%,-50%);
}
.slick-prev{
	left: -56px;
	top: 50%;
	transform: translate(0%,-50%) rotate(180deg);
}
.slick-arrow:hover{
	background: var(--black-color);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
/* fits */

.fits{
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 70px;
	grid-column-gap: 30px;
}
.fits__item{
	color: var(--gray-color);
	display: flex;
	align-items: flex-start;
	padding: 10px;
}
.fits__item img{
	max-height: 56px;
	max-width: 56px;
	object-fit: cover;
	margin-right: 10px;
}
.fits__item h4{
	font-size: 24px;
	font-weight: 600;
	color: var(--blackgray-lite-color);
	padding-bottom: 5px;
}
.fits__item p{
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	color: var(--black-lite-color);
}

/* category */
.category{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.category__item{
	width: 25%;
	height: 277px;
	max-height: 277px;
	padding: 20px;
	flex-flow: column;
	padding: 10px;
}


.category__item img{
	width: 100%;
	height: 100%;
	max-height: 195px;
	max-width: 195px;
	object-fit: cover;
}
.category__item span{
	display: none;
}
.category__item__footer{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.category__item__footer p{
	font-size: 16px;
}
.category__item__footer img{
	height: 36px;
	width: 36px;
	object-fit: cover;
}
.category__item__gray, .category__item__white, .category__item__red{
	transition: 0.3s ease-in-out;
}
.category__item__gray{
	background: var(--gray-color);
	color: var(--black-color);
}
.category__item__white{
	background: var(--white-lite-color);
	color: var(--black-lite-color);
}
.category__item__red{
	background: var(--red-color);
	color: var(--white-color);
}

.category__item__gray:hover{
	background: var(--gray-lite-color);
	color: var(--black-color);
}
.category__item__white:hover{
	background: var(--white-color);
	color: var(--black-lite-color);
}
.category__item__red:hover{
	background: var(--red-lite-color);
	color: var(--white-color);
}
.category__item:nth-child(5), .category__item:nth-child(6){
	width: 50%;
	flex-flow: row-reverse;
}
.category__item:nth-child(5) span, .category__item:nth-child(6) span{
	display: block;
}
.category__item:nth-child(5) span, .category__item:nth-child(6) span{
	display: block;
}
.category__item:nth-child(5) .category__item__footer img,
.category__item:nth-child(6) .category__item__footer img{
	display: none;
}
.category__item:nth-child(5) .category__item__footer,
.category__item:nth-child(6) .category__item__footer{
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
}

/* catalog */
.catalog{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-flow: row dense;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	font-size: 16px;
	flex-wrap: wrap;
	position: relative;
}
.catalog__item{
	position: relative;
	max-height: 305px;
	width: 100%;
	height: 100%;
	padding: 10px;
	margin: 10px;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	transition: 0.3s ease-in-out;
}
.catalog__item button{
	text-align: center;
	margin-top: 20px;
	width: 60%;
	transition: 0.3s ease-in-out;
	padding: 10px;
}
.catalog__item:hover button{
	bottom: 0;
}
.catalog__item span{
	font-weight: 600;
}
.catalog__item img{
	width: 80%;
	object-fit: cover;
	transition: 0.3s;
	z-index: -1;
}

/* About */
.about{
	margin: 0 auto;
	width: 100%;
}
.about__item{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .about__item p{
	font-size: 16px;
} */
.about .about__item img{
	width: 278px;
	height: 278px;
}

/* partners */
.partners__title{
	display: flex;
	align-items: baseline;
	margin-bottom: 30px;
}
.partners__title a{
	color: var(--black-color);
}
.partners__title h2{
	margin-bottom: 0;
	padding-right: 10px;
}

.partners__item img{
	max-height: 124px;
	object-fit: cover;
}

/* Feedback */
.feedback__title{
	justify-content: center;
	flex-direction: column;
}
.feedback__top h2{
	margin-bottom: 5px;
}
.feedback__top{
	text-align: center;
	margin-bottom: 10px;
}
.feedback__top p, .feedback__title span{
	font-size: 18px;
	font-weight: 400;
}
.feedback__title span{
	color: var(--blackgray-lite-color);
}
.feedback__block{
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.feedback__block form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 30px;
	grid-column-gap: 30px;
	width: 100%;
	max-width:700px;
	margin: 30px 0;
	text-align: center;
}
.feedback__block form input{
	justify-self: center;
	width: 100%;
	max-width: none;
}
.feedback__block form input:last-child{
	width: 100%;
	grid-column: 1 / -1;
	max-width: 350px;
	justify-self: center;
}
.feedback__block form .form-check-input{
	width: fit-content;
}
.feedback__bg{
	position: absolute;
	top:0;
	right: 5%;
	z-index: -1;
}

/* Gallary */
.gallary{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-height: 230px;
	flex-wrap: nowrap;
	overflow: hidden;
}
.gallary a{
	width: 100%;
	height: 250px;
	overflow: hidden;
	object-fit: cover;
	filter: grayscale(1);
	transition: 0.3s ease-in-out;
}
.gallary a img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s ease-in-out;
}
.gallary a:hover{
	filter: grayscale(0);
	width: 300%;
}
.gallary a:hover img{
	transform: scale(1.2);
}

/* contacts */
.contacts{
}
.contacts__item{
	width: 50%;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
}
.contacts__phone, .header__adress, .contacts__item p{
	margin: 15px 0;
}
.contacts__phone .header__phone__item{
	justify-content: flex-start;
	max-height: 30px;
}
.contacts__item .contacts__logo{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.map{
	width: 100%;
	height: 100%;
	min-height: 380px;
	border: none;
}
.map iframe{
	width: 100%;
	height: 100%;
	min-height: 380px;
}
/* footer */
footer{
	background: var(--black-color);
	color: var(--white-color);
	padding:20px 0;
}
.footer__item{
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
.footer__item .header__phone__item{
	margin: 5px 0;
}
.footer__item span{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
}
.footer__logo{
	width: 100%;
}
.footer__logo img:last-child{
	display: none;
	width: 100%;
}
.footer__item a{
	color: var(--white-color);
}
.footer__item li:hover a{
	text-decoration: revert;
}
footer .flex{
	align-items: flex-start;
}
.footer__menu, .footer__catalog{
	padding:0 10px;
}
.footer__menu ul li, .footer__catalog ul li{
	margin: 15px 0px;
}

/* Modal */
#modal__feedback, #modal__login, #modal__reg{
	display: none;
	z-index: 1000;
	height: 100vh;
	width: 100%;
	position: fixed;
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(5px);
}
.modal__feedback{
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--white-color);
	padding: 70px 80px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.modal__feedback__close{
	position: absolute;
	top: 0;
	right: 0;
	width: 46px;
	height: 46px;
	background: var(--red-color);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.modal__feedback .feedback__bg{
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}
.red__text, .red__text a{
	margin:20px 0;
	color: var(--red-color);
	cursor: pointer;
}
.modal__login form{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	width: 100%;
	max-width: 255px;
	margin: 0;
	margin-top: 30px;
	text-align: center;
}
#modal__login .modal__feedback{
	width: 50%;
}
#modal__reg .modal__feedback{
	width: 70%;
}