body{
	background: #252525;
	position: relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
}
h2{
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: white;
}
canvas{
	max-width: 100%;
	text-align: center;
	margin-left: 50%;
	transform: translateX(-50%);
}