body{
	padding: 0;
	margin: 0;

}
.bg{
	background: linear-gradient(90deg,#a8efff,#bc93fd);
	display: block;
	width: 100%;
	height: 100vh;
}
#btn{
	display: block;
	width: 150px;
	height: 50px;
	overflow: hidden;
	z-index: 20;
	color: white;
	line-height: 50px;
	text-align: center;
	border: 2px solid white;
	font-size: 16px;
	border-radius: 10px;
	font-family: Source Sans Pro;
	font-weight: lighter;
	letter-spacing: 5px;
	text-transform: uppercase;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*transition: 0.3s;*/
}
#fill{
	height: 0px;
	width: 0px;
	background-color: #aee0ff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
.btn-back{
	width: 50px;
	height: 100vh;
	z-index: 2;
	background: rgba(230, 230, 230, 0.34);
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
	cursor: pointer;
	transition: 0.5s;
}
.btn-back h2{
	font-size: 1em;
	color: gray;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 auto;
	padding-left: 10px;
}
.btn-back:hover{
	opacity: 1;
}

@media (max-width: 768px){

}