*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #252525;
}
header{
	position: relative;
	height: 50px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	border: 1px solid red;
}
#sidemenu{
	background: white;
	display: flex;
	height: 100vh;
	width: 30vw;
	position: fixed;
	justify-content: center;
	align-items: center;
	right: -30vw;
	transition: all ease 1s;
	z-index: 999999;

}
#sidemenu ul li{
	list-style: none;
	margin: 10px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	transition: 0.3s;
}
#sidemenu ul li a{
	text-decoration: none;
	color: black;
	transition: 0.3s;
	text-transform: uppercase;
}
#sidemenu ul li:hover{
	background: #252525;
}
#sidemenu ul li:hover a{
	color: white;
	font-weight: bold;
}
#sidemenu-but{
	position: absolute;
	height: 20px;
	width: 20px;
	background: red;
	border: none;
	cursor: pointer;
	left: -20px;
}

.hero{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero img{
	/* position: fixed; */
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
	z-index: -1;
}
.hero .hero__form{
	padding: 10%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	text-transform: uppercase;
	background: rgb(37 37 37 / 80%);
	backdrop-filter: blur(4px);
	box-shadow: 0 0 20px black;
}
.login__form{
}
.login__form__login, .login__form__password{
	display: flex;
	border-radius: 20px;
	width: 100%;
	height: 55px;
	align-items: center;
	margin: 10px;
	padding: 10px;
}
.login__form__login input, .login__form__password input{
	background: transparent;
	border:none;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	text-indent: 20px;
	color: white;
	outline: 0;
	font-size: 14px;
}
.login__form__password__icon{
	cursor: pointer;
	transition: all .4s ease;
	width: 32px;
	height: 32px;
	padding: 3px 6px;
	right: 15px;
	position: relative;
}
.login__form__password__icon img{
	width: 28px;
	height: 28px;
	position: absolute;
	object-fit: cover;
	top: auto;
	left: auto;
	z-index: 20;
}
.login__form__password__icon.selected{
	background: #2d2d2d;
}
::-webkit-input-placeholder{
	color: #b2becd;
}


.gallary{
	width: 100%;
	height: 200px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 100%;
}
.gallary .gallary-item{
	display: flex;
	width: calc(100vw/4);
	height: 100%;
	width: 100%;
}
.gallary .gallary-item:nth-child(1){
	/*border: 1px solid red;*/
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 3;

}
.gallary .gallary-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	/*filter: grayscale(100);*/
}

.glitch__section, #generation__password{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.glitch{
	font-size: 60px;
	color: white;
	transition: 0.3s;
}
.glitch:hover{
	animation: glitch 0.3s linear infinite;
}
@keyframes glitch {
	0, 100%{
		text-shadow: -10px 0 0 #00d9d4,
						-10px 0 0 #f00;
	}
	25%{
		text-shadow: 10px 0 0 #00d9d4,
						-10px 0 0 #f00;
	}
	50%{
		text-shadow: 10px 0 0 #00d9d4,
						-10px 0 0 #f00;
	}
	75%{
		text-shadow: 10px 0 0 #00d9d4,
						10px 0 0 #f00;
	}
}
.overflow{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}
.overflow__text{
	position: absolute;
	right: 35%;
	top: 25%;
	width: 0;
	height: 150px;
	background: white;
	overflow: hidden;
	transition: 0.3s ease;
	display: block;
}
.overflow__image1,.overflow__image2{
	width: 300px;
	height: 300px;
	transition: 0.3s;
}
.overflow__image1{
	background: url('img/travelblog.jpeg') center / cover;
	z-index: -1;
	transform: translateX(150px);
	clip-path: polygon(50% 0, 65% 50%, 50% 100%, 0 100%, 0 50%, 0 0);
}
.overflow__image2{
	background: url('img/travelblog.jpeg') center / cover;
	transform: translateX(-150px);
	clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 100%, 65% 50%, 50% 0);

}
.overflow__text p{
	margin: 5rem 0;
}
.overflow:hover .overflow__image1{
	transform: translateX(100px);
}
.overflow:hover .overflow__image2{
	transform: translateX(-100px);
}
.overflow:hover .overflow__text{
	width: 350px;
}
.calculate{
	height: 100vh;
	width: 100%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.calculate__input__wrapper {
	margin: 20px;
}














