* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* font-family: 'Nunito', sans-serif; */
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;
	line-height: 20px;
	outline: none;
	list-style: none;
	border: 0;
	color: var(--white-color);
}

body {
	overflow-x: hidden !important;
}

*:hover,
*:active,
*:checked,
*:focus {
	outline: none;
	text-decoration: none;
}

body,
section {
	background: var(--black-color);
}

:root {
	--white-color: #fff;
	--gray-color: #232323;
	--black-color: #131313;
	--red-color: #DD1F1F;
	--black-op: rgba(19, 19, 19, 0.65);
	--linear-gradient: rgba(19, 19, 19, 0), rgba(218, 218, 218, 0.22), rgba(19, 19, 19, 0);
	--shadow: 0px 0px 32px rgb(255 255 255 / 5%);
	--text-11px: 11px;
	--text-16px: 16px;
	--text-29px: 29px;
	--text-47px: 47px;
	--text-76px: 76px;
}

ul,
li,
a {
	list-style: none;
	color: var(--black-color);
	text-decoration: none;
}
a:hover{
	color: var(--white-color);
}
img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

ol,
ul,
ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

p {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.3;
	margin-bottom: .2rem;
}
h1{

}
h2 {
	position: relative;
	font-size: 26px;
	color: var(--white-color);
}

h3 {
	position: relative;
	font-size: 26px;
}
body.loaded {
	overflow: hidden !important;
	height: 100% !important;
}

.loader-wrap {
	position: fixed;
	z-index: 10;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: transparent;
	z-index: 99999999999999;
	transition: none;
}

.loader-wrap svg {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 110vh;
	fill: var(--black-color);
}

.loader-wrap .loader-wrap-heading .load-text {
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 15px;
	text-transform: uppercase;
	z-index: 20;
}

.load-text span {
	-webkit-animation: loading 1s infinite alternate;
	animation: loading 1s infinite alternate;
	color: var(--white-color);
	font-weight: 900;

}

.load-text span:nth-child(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.load-text span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.load-text span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.load-text span:nth-child(4) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.load-text span:nth-child(5) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.load-text span:nth-child(6) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.load-text span:nth-child(7) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.load-text span:nth-child(8) {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.load-text span:nth-child(9) {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

@-webkit-keyframes loading {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes loading {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

section {
	padding-top: 140px;
	padding-bottom: 140px;
	position: relative;
	z-index: 5;
}
section.accordion {
	background: inherit;
}
section.no__padding{
	padding-top: 0;
	padding-bottom: 0;
}

header {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	padding: 20px 50px;
	background-color: var(--black-op);
	border-radius: 50px;
	box-shadow: var(--shadow);
	transition-property: background-color, padding-top, padding-bottom, transform;
	transition-duration: 0.5s;
	z-index: 5000;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.navbar__toggle{
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}
.navbar__toggle__icon{
	--width-icon: 25px;
    margin-right: 10px;
}

.navbar__toggle__line{
	position: relative;
    height: 2px;
    background-color: var(--white-color);
    width: 25px;
    transition: 0.5s;
}
.navbar__toggle__line:nth-of-type(1){
	transform-origin: left;
	transform: scaleX(0.5);
}
.navbar__toggle__line:nth-of-type(3){
	transform-origin: right;
	transform: scaleX(0.5);
}
.navbar__toggle__line:not(:first-child){
	margin-top: 5px;
}
/* OpenMenu */
.openmenu .toggle-line:nth-of-type(1){
    transform: scale(1) rotate(45deg) !important;
    transform-origin: bottom !important;
}
.openmenu .toggle-line:nth-of-type(3){
	transform: scale(1) rotate(-45deg) !important;
    transform-origin: top !important;
}



.navbar__toggle__text{
	position: relative;
    transform: translateY(5px) rotateX(75deg);
    min-width: 43px;
}
.navbar__toggle__text__menu{
	overflow: hidden;
    will-change: transform;
}

.navbar__toggle__text__open{

}

.navbar__toggle__text__close{
	
}





.mybtn{
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	width: fit-content;
	margin: 40px auto 0;
	padding: 14px 35px;
	border-radius: 30px;
	text-align: center;
	background: var(--white-color);
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	border: 1px solid var(--white-color);
	box-shadow:none;
}
.mybtn span{
	color: var(--black-color);
}
.mybtn:hover{
	background-color: var(--black-color);
	box-shadow: var(--shadow);
}
.title__section{
	color: var(--white-color);
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 70px;
	font-size: var(--text-47px);
}
.title{
	position: relative;
}
.title::before, .title::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
	z-index: -1;
}
.title::before{
	background: red;
	left: -15px;
	top: -15px;
}
.title::after{
	background: blue;
	right: -15px;
	bottom: -15px;
}


.line{
	position: relative;
	width: 100%;
	height: 1px;
	background: var(--gray-color);
	display: block;
    position: absolute;
    top: 0px;
}




.parallax__transform {
	transition-property: opacity, transform, visibility;
}


.header__logo img {
	width: 80px;
	max-width: 100%;
	height: auto;
}

.accordion {
	position: relative;
	overflow: auto;
}

.accordion::-webkit-scrollbar {
	width: 0;
}
.accordion .accordion__links li {
	padding: 40px 0;
	position: relative;
	z-index: 9;
}

.accordion .accordion__links li:hover .accordion__text {
	color: var(--white-color);
	-webkit-text-stroke-color: transparent;
}

.accordion .accordion__links li .accordion__text {
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	color: transparent;
	-webkit-text-stroke: 1px var(--white-color);
}

.accordion .accordion__links li h2 {
	font-weight: 700;
}

.accordion .accordion__links li h2 .num {
	display: block;
	font-size: var(--text-16px);
	font-weight: 600;
	opacity: .7;
	margin-right: 15px;
}

.accordion .accordion__links__img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	overflow: hidden;
}

.accordion .accordion__links__img .img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform: scale(1.04, 1.04);
	-ms-transform: scale(1.04, 1.04);
	transform: scale(1.04, 1.04);
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.accordion .accordion__links__img .img.current {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.accordion .accordion__links__img .img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.accordion .accordion__links li {
	padding: 40px 0;
	position: relative;
	z-index: 1;
}

.accordion .accordion__links li h2 {
	font-weight: 700;
	font-size: var(--text-76px);;
}

.accordion .accordion__links li h2 .num {
	display: block;
	font-size: var(--text-16px);
	font-weight: 600;
	opacity: .7;
	margin-right: 15px;
}

.accordion .accordion__links li .text {
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	color: transparent;
	-webkit-text-stroke: 1px var(--white-color);
}




/* about */
.about .row{
	display: flex;
	justify-content: center;
}
.about {
	position: relative;
	/* padding-top: 120px; */
	/* max-height: 80vh; */
	
}

/* .about:after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 200px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(var(--black-color)), to(transparent));
	background-image: -webkit-linear-gradient(bottom, var(--black-color), transparent);
	background-image: -o-linear-gradient(bottom, var(--black-color), transparent);
	background-image: linear-gradient(0deg, var(--black-color), transparent);
	z-index: 5;
} */

/* .about:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background-image: url(../img/lines1.png);
	background-size: cover;
	background-position: center top;
	opacity: .2;
	z-index: -1;
} */

.about .about__caption {
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 50%;
}
.about .about__caption h1 {
	text-align: center;
	font-size: var(--text-76px);
	font-weight: 800;
	line-height: 1.2;
	text-transform: uppercase;
	position: absolute;
	bottom: 0px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
}
.about .about__caption h1.stroke {
	color: transparent;
	-webkit-text-stroke: 1px var(--white-color);
	z-index: 3;
}
.about .about__caption h1 {
	display: block;
	white-space: nowrap;
}
.about__title{
	text-align: center;
	font-size: 14rem;
	font-weight: 800;
	line-height: 1.2;
	text-transform: uppercase;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}





/* About Second */
.about__second{

}
.about__second__content{
	position: relative;
    z-index: 3;
	margin-top: 100px;
}
.about__second__item__text{
	position: absolute;
	left: 0;
	bottom: 0;
}
.about__second__item__text h3{
	color: var(--red-color);
	font-weight: 900;
	font-size: var(--text-29px);
	filter: drop-shadow(0 0 12px black);
}
.about__second__item{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.about__second__item__right .about__second__item{
	align-items: flex-start;
}
.about__second__title{
	font-size: var(--text-47px);
    text-transform: uppercase;
    letter-spacing: 2px;
	font-weight: 700;
	margin-bottom: 15px;
}
.about__second__item h2{
	font-size: var(--text-29px);
}
.about__second__text{
	margin-top: 15px;
	margin-bottom: 30px;
}
.about__second__info__item{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.about__second__info__item h6{
	margin-bottom: 0;
	margin-right: 10px;
	text-wrap-mode: nowrap;
}


/* Works */
.work *{
	transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	color: #FFF;
}
.work{
	display: flex;
}
.work__item{
	position: relative;
	flex-grow: 1;
    flex-basis: 0;
	cursor: pointer;
}
.work__img{
	width: 100%;
	height: 80vh;
}
.work__img::before{
	content: "";
    position: absolute;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    mix-blend-mode: unset;
    border-radius: inherit;
	opacity: 0.5;
	transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.work__img img{
	width: 100%;
	height: 100%;
    object-fit: cover;
    object-position: center;
}
.work__content{
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	z-index: 1;
	transform: scaleX(1);
	opacity: 1;
}
.work__cat span{
	padding: 5px 10px;
    border-radius: 30px;
	font-size: var(--text-11px);
	color: var(--white-color);
	background: var(--black-color);
}
.work__content__text{
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.work__arrow{
	border-radius: 50%;
	background: var(--black-color);
	text-align: center;
	position: relative;
	display: flex;
	width: -webkit-max-content;
    width: max-content;
}
 .work__icon{
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
    transition-duration: 0.9s;
	background: var(--black-color);
}
.work__icon svg {
	fill: var(--white-color);
    width: 12px;
    height: 12px;
}

.work__item:hover{
	flex-grow: var(--flex-grow, 4);
}
.work:hover > .work__item:not(:hover) .work__content{
	transform: scaleX(0.85);
	opacity: 0;
}
.work:hover > .work__item:not(:hover) .work__img::before{
	opacity: 0.7;
}

.work__arrow:hover .work__icon{
	transform: translateX(0.75rem) rotate(45deg);
}


/* Service */
.service{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px
}
.service__title{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.service__title .mybtn{
	margin: 0;
}
.service__item{
	padding-left: 25px;
    padding-right: 25px;
}




/* portfolio */
.portfolio{
	position: relative;
    display: flex;
    flex-wrap: wrap;
	--dsn-width-item: 4;
	--dsn-col-item: 30px;
	--dsn-row-item: 50px;
}

.portfolio__item{
	position: relative;
	overflow: hidden;
	margin: 0 15px 10px;
    border-radius: 15px;
	height: 80vh;
	max-height: 80vh;
	width: 100%;
	max-width: calc((100% / var(--dsn-width-item)) - var(--dsn-col-item));
	flex: 0 0 calc((100% / var(--dsn-width-item)) - var(--dsn-col-item));
}
.portfolio__img{
	height: 100%;
	width: 100%;
}
.portfolio__img::before{
	content: "";
    position: absolute;
    background-color: var(--gray-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    mix-blend-mode:inherit;
    border-radius: inherit;
	opacity: 0.7;
}
.portfolio__img img{
	height: 100%;
}
.portfolio__cat{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background: var(--black-color);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: fit-content;
	padding: 0 15px 10px;
	border-bottom-left-radius: 15px;
}
.portfolio__cat p{
	padding: 5px 10px;
    border-radius: 30px;
    font-size: var(--text-11px);
	color: var(--white-color);
	background: var(--gray-color);
	margin: 0 4px;
}
.portfolio__info{
	position: absolute;
	bottom: 0;
    left: 0;
	padding: 30px;
}
.portfolio__info a{
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	color: var(--white-color);
}
.portfolio__info span{
	font-size: var(--text-11px);
	margin-left: 5px;
}









.feedback{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.feedback__item{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding-bottom: 50px;

}
.feedback__item .mybtn{
	margin: 0;
}
.feedback__title{
	text-transform: uppercase;
	font-size: 65px;
	font-weight: 700;
}
.feedback__item__anim{
	display: grid;
	grid-template-columns: auto 73%;
	align-items: stretch;
}
.feedback__anim__items{
	display: flex;
	/* float: left; */
	text-wrap-mode: nowrap;
	/* width: 100000px; */
    /* transform: translateX(0px); */
    /* animation: 5.86856s linear 1s infinite normal none running feedbackanimation; */
}
/* 
.feedback__anim{
	overflow: hidden;
}
@keyframes feedbackanimation {
	100% {
		transform: translateX(-762.844px);
	}
} */
.feedback__anim h2{
	font-size: 120px;
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 60px;
}
.feedback__text{
	text-transform: uppercase;
}