body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
}
section{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.screen{
	position: relative;
	width: 1242px;
	height: 2208px;
	background: transparent;
	transform: scale(0.3) rotate(-30deg) skew(25deg);
}
.screen img{
	position: absolute;
	width: 100%;
	transition: 1s;
}
.screen:hover img:nth-child(4){
	transform: translate(200px,-200px);
	opacity: 1;
}
.screen:hover img:nth-child(3){
	transform: translate(150px,-150px);
	opacity: 0.8;
}
.screen:hover img:nth-child(2){
	transform: translate(100px,-100px);
	opacity: 0.6;
}
.screen:hover img:nth-child(1){
	transform: translate(50px,-50px);
	opacity: 0.4;
}