* {
	box-sizing: border-box;
}

div{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/*body, html {
	height: 100%;
}*/
html{
	position:relative; 
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	-webkit-overflow-scrolling: touch
	-webkit-text-size-adjust: none
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	background: #d9d9d9;
	color: #111;

}
a, h1, h2, h3, h4, li, ul, p, a:hover, a:focus{
	text-decoration: none;
	list-style: none;
	line-height: 1.2em;
}
.wrap{
	flex: 1;
	white-space: pre-line;
	-ms-flex-preferred-size: auto;
	background: #d9d9d9;
}
section {
	height: auto !important;
}
/*.blur {
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
}*/
.scroll__down{
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	display: flex;
}
#screen__id{
	z-index: 1
}
/*Google map*/
#map__google{
	display: none;
}

/*Parralax*/
.parallax { 
	background-color: #f3f3f3;
	background-image: url("../img/svag/bg3().jpg");
	position: absolute;
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo__parralax{
	padding: 15%;
	display: table;
	width: -moz-max-content;
	max-width: 100%;
	box-sizing: border-box;
}

.my__container{
	margin-right: auto;
	margin-left: auto;
}

/*Bot*/
.bottom{
	display: block;
	text-align: center;
}
.button-item {
	display: inline-flex;
	padding-bottom: 2em;
}
.icon__call{
	display: none;
	z-index: 2;
	position: fixed;
	bottom: 15px;
	right: 15px;
	color: #56AF02;

}
.icon__call i{
	position: relative;
	padding:15%;
}
.icon__gallery{
	color: #111;
	transition: 0.3s;
}
.icon__gallery:hover{
	color: #db432e;
}

.bg__icon__down{
	
}
.icon__down{
	z-index: 2;
	position: relative;
	bottom: -40%;
	right: -30%;
	color: #111;
	font-size: 2em;
}
.icon__down i{
	position: relative;
	padding:15%;
}
.icon__gallery{
	color: #111;
	transition: 0.3s;
}
.icon__gallery:hover{
	color: #db432e;
}



.gallery{
	text-align: center;
}
.gallery h1{
	color: #111;
	text-decoration: none;
}
/*IMG*/
.img__container{
	width: 250px;
	height: 395px;
}
.img__header{
	padding: 5%;
	width: 50%;
	position: relative;
	display: block;
}
.img__header__mob{
	position: relative;
	display: none;
}

.icon__color{
	color: #111;
	text-align: center;
}
.item__icon{
	padding: 20px 0;
}
.item__icon p{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	padding: 10px;
}
.mobile__iphone__x{
	padding-bottom: 30px;
}
/*Header*/
#menu li{
	text-align: center;
}
#menu ul{
	white-space: nowrap
}
#word-mark p{
	color: #d9d9d9;
}
#head-line{
	text-align: center;
	position: relative;
}

/*Text edit*/
.job__time{
	color: #111;
	padding-bottom: 30px;
}
.text__center{
	text-align: center;
}
.text__center h3, .text__center p{
	text-decoration: none;
	color: #111;
}
.other__repaire a{
	color: #111;
	text-decoration: none;
	transition: 0.3s;
}
.other__repaire a:hover{
	color: #111;
}
.comm{
	color: #d9d9d9;
	background: #111;
}
/*Job*/
.mobile__day{
	display: none;
	background: #111;
	color: #d9d9d9;
	border-radius: 20px;
}
.job{
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.job__day, .job__week{
	width: 70px;
	height: 70px;
	cursor: pointer;
	border-radius: 25%;
	padding: 0px 20px;
	margin: 5px;
	transition: 0.2s;
}
.job__day{
	padding: 10px 0;
	background: #69dd7d;
}
.job__day h3, .job__week h3{
	color: #fff;
	font-size: 24px;
}
.job__week{
	padding: 10px 0;
	background: #db432e;
}
/*Footer*/
#footer{
	bottom: 0;
	width: 100%;
	color: #d9d9d9;
	background: #111;
	text-decoration: none;
	font-size: 14px;
	z-index: 3;
}
.about{
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 0 10%;
	display: flex;
}
.footer__item{
	padding: 5px;
}
.footer__item a{
	text-decoration: none;
	color: #d9d9d9;
}
.footer__item p{
	color: #d9d9d9;

}
/*Repair*/
.repair__table tr{
	padding: 15px;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
thead, tr, th, td{
	padding: 5px;
	transition: 0.3s;
}
td{
	padding: 1.5%;
}
.repair__section{
	display: block;
	position: relative;
	padding-top: 100px;
	background: #d9d9d9;
}
.repair__block__part{
	display: inline-block;
	position: relative;
	padding: 10px;
	/*background: #111;*/
	border-radius: 10px;
	margin: 0.7%
}
.color__text{
	color: #111;
	/*color: #d9d9d9;*/
	font-size: 16px;
	transition: 0.3s;
	border: 2px solid #50a459;
}
.color__text:hover{
	color: #d9d9d9;
	background: #111;
	text-decoration: none;
}
.repair__title p{
	font-size: 26px;
}
.repair__block{
	cursor: pointer;
	display: block;
	position: relative; 
	text-align: center;
	padding: 15px 15px 25px 15px ;
}
.repair__phone{
	align-items: center;
	text-align: center;
	position: relative;
}
.repair__phone p{
	margin: 2px 5px;
}
table{
	width: 100%;
	box-sizing: border-box;
}

.repair__table{
	padding:0 10%;
	max-width: 100%;
	margin-bottom: -1px;
}
.repair__table h4{
	font-size: 24px;
}

.other__text__table{
	font-size: 14px;
	color:#2f2f2f;
}
.repair__table tr{
	padding: 15px;
}
#block__iphone5__table, #block__iphone5s__table, #block__iphonese__table,
#block__iphone6__table, #block__iphone6plus__table, #block__iphone6s__table,
#block__iphone6splus__table, #block__iphone7__table, #block__iphone7plus__table,
#block__iphone8__table, #block__iphone8plus__table, #block__iphonex__table,
#block__macbook__air__table,#block__macbook__pro__table,
#block__imac__table, #block__macmini__table,#block__other__notebook__table{
	background: #d9d9d9;
	padding: 0 20%;
}
.text__remont__block{
	display: block;
	text-align: center;
	color: #5f5f5f;
	background: #d9d9d9;
	padding: 100px 0 20px 0;
}
.hover__table__block p{
	text-align: right;
}
#post-60{
	background: #d9d9d9;
	padding: 120px 0 50px;
	text-align: center;
}
.wpcf7-textarea{
	width: 100%;
	height: 150px;
}
.wpcf7-form-control-wrap{
	border-radius: 20px;
/*	color: white;
	background-color: #111111;*/
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-response-output{
	border: none;
}
}
.wpcf7-submit{
	border: none;
	color: #e8e8e8;
	background-color: #111;
	border-radius: 20px;
	width: 150px;
	height: 35px;
	transition: 0.3s;
}
.wpcf7-submit:hover{
	box-shadow: 0 0 15px black;
	background-color: #525252;
}
.home__but__matrix:hover{
	text-decoration: none;
}
#primary{
	padding: 120px 20% 20px;
	font-family: 'Raleway', sans-serif;

}
/*Blog*/
.my__blog a, .my__blog a:hover{
	text-decoration: none;
}
.blog__text__homepage:hover{
	background-blend-mode: soft-light;
	background-color:  rgba(0,0,0,.5);
}
.blog__text__homepage{
	background: url(../img/blog__clear/1.jpg) center no-repeat;
	width: 100%;
}

.blog__text__homepage{
	text-decoration: none;
	color: #fff;
	height: 150px;
	width: 70%;
	padding: 50px;
	border-radius: 20px;
	transition: 0.2s;
}
.blog__text__homepage:hover{
	background-color: rgba(0,0,0,.5);
	text-decoration: none;
	box-shadow: 0 0 20px rgba(0,0,0,.1);

}
.blog, .blog__page{
	display: inline-block;
	padding: 5%;
	font-size: 14px;
	transition: 0.3s;
}
.blog:hover{
	background-color: #c5c5c5;
	border-radius: 20px;
}
.blog img, .blog__page img{
	padding: 30px 10px;
}
.blog a{
	text-decoration: none;
	color: #242424;
}
.blog a:hover{
	text-decoration: none;
	color: #4e4e4e;
}








