*{
	font-family: 'Ubuntu', sans-serif;
}
html, body {
	overflow: hidden;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	overflow-y: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0;
}
section{
	padding: 100px 0;
	height: auto !important;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
section h2{
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 60px;
	text-align: center;
	position: relative;
}
.wrap{
	flex: 1;
	white-space: pre-line;
	-ms-flex-preferred-size: auto;
}
a:hover{
	text-decoration: none;
}
.blue{
	background-image: -moz-linear-gradient(45deg, rgb(2,93,186) 0%, rgb(54,171,255) 100%);
	background-image: -webkit-linear-gradient(45deg, rgb(2,93,186) 0%, rgb(54,171,255) 100%);
	background-image: -ms-linear-gradient(45deg, rgb(2,93,186) 0%, rgb(54,171,255) 100%);
	color: white;
}
.blue__image:after{
	z-index: 0;
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0.7;
	background-image: -moz-linear-gradient(45deg, rgb(2,93,186) 0%, rgb(54,171,255) 100%);
	background-image: -webkit-linear-gradient(45deg, rgb(2,93,186) 0%, rgb(54,171,255) 100%);
	background-image: -ms-linear-gradient(45deg, rgb(2,93,186) 0%, rgb(54,171,255) 100%);
}
.blue__color{
	background: #36abff;
}
header{
	background: #252525;
	height: 70px;
	position: fixed;
	display: inline-flex;
	top: 0;
	width: 100%;
	text-transform: uppercase;
	padding: 10px;
	z-index: 500;
}
.padding__section{
	padding: 100px 0;
}
.nopadding{
	padding: 0;
}
.mainmenu{
	text-align: center;
	padding: 1em 0;
	font-size: 14px;
	left: 50%;
	width: 80%;
	position: absolute;
	transform: translateX(-50%);
}
.mainmenu ul li{
	list-style: none;
	display: inline-block;
	margin:0 10px;
	font-weight: bold;
}
.mainmenu ul li a, .header__tel a{
	color: white;
	transition: 0.2s;
}
.mainmenu ul li a:hover, .header__tel a:hover{
	color: #36abff;
}
.headr__logo img{
	height: 50px;
}
.header__tel{
	right: 10px;
	position: absolute;
}
.header__tel a{
	font-weight: bold;
	font-size: 24px;
}
.first__section{
	position: relative;
	background: url(../img/X%20body.jpg);
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.first__section img{
	width: 100%;
	z-index: -10;
}

.offer__logo{
	z-index: 100;
	font-size: 64px;
	border: 2px solid white;
	border-radius: 6px;
	padding: 0 20px;
	margin-bottom: 50px;
	display: inline-block;
	position: absolute;
	left: 150px;
	top: 150px;
	color: white;
}
.offer{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	z-index: 100;
	text-align: center; 
}
.offer h1{
	font-size: 64px;
	text-transform: uppercase;
}
.offer p{
	font-size: 24px;
}
.offer a{
	font-size: 24px;
	border: 2px solid white;
	border-radius: 6px;
	padding: 10px 20px;
	color: white;
	line-height: 100px;
	transition: 0.2s; 
}
.offer a:hover{
	color: #36abff;
	background: white;
}
.two__section .col-12,
.two__section .col-sm-12,
.two__section .col-md-6,
.two__section .col-lg-6,
.two__section .col-xl-6,
.job__section .col-12,
.job__section .col-sm-12,
.job__section .col-md-6,
.job__section .col-lg-6,
.job__section .col-xl-6{
	padding: 0;
}
.two__block__image{
	z-index: 0;
	text-align: left;
	color: white;
	position: relative;
	background: url(../img/jacob-postuma-409826-unsplash.jpg);
/*	overflow: hidden;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.two__block{
	position: relative;
	padding: 100px 0 100px 20%;
	z-index: 500;
}
.two__block h3, .two__block p{
	color: white;
}
.feedback__two__block{
	background: #36abff;
	text-align: center;
	padding: 100px 0;
	margin: 0 auto;
	color: white;
}
.feedback__two__block p{
	font-size: 24px;
	font-weight: bold;
}
.feedback__two__block input{
	outline: none;
	color: white;
	background: none;
	display: block;
	transform: translateX(50%);
	margin: 20px;
	width: 50%;
	border:0;
	border-bottom: 2px solid white;
}
.feedback__two__block input::placeholder{
	color: white;
}
.feedback__two__block button{
	background: white;
	color: #252525;
	font-weight: bold;
	font-size: 18px;
	border-radius: 6px;
	text-align: center;
	padding: 0 25px;
	outline: 0 !important;
	border:0;
	transition: 0.2s;
}
.feedback__two__block button:hover{
	color: #36abff;
}
.ems__section p{
	padding-top: 20px;
	font-size: 18px;
}
.ems__section__image{
	z-index: 100;
	width: 470px;
	height: 410px;
	border-radius: 6px;
}
.ems__section__image__img{
	border-radius: 6px;
	width: 100%;
	height: 100%;
	background: url(../img/X%20body.jpg);
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.training__section{
	text-align: center;
}
.training__card{
	position: relative;
	width: 100%;
	height: 300px;
	border-radius: 6px;
	overflow: hidden;
}
.training__card:after{
	height: 100%;
	width: 100%;
	display: block;
	content: '';
	background:-moz-linear-gradient(90deg, rgb(61, 61, 61) 0%, rgba(255, 255, 255, 0) 100%);
	background:-webkit-linear-gradient(90deg, rgb(61, 61, 61) 0%, rgba(255, 255, 255, 0) 100%);
	background:-ms-linear-gradient(90deg, rgb(61, 61, 61) 0%, rgba(255, 255, 255, 0) 100%);
}
.training__card img{
	height: 130%;
	z-index: -10;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.training__card h4{
	width: 100%;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.xbody__section h2{
	text-align: center;
}
.xbody__section p{
	top: 50%;
	position: absolute;
	font-size: 20px;
	transform: translateY(-50%);
}
.cardfour__section{
	padding: 100px 0;
	color: white;
}
.cardfour{
	padding: 10px;
	background: #6dc3ff;
	height: 430px;
	border-radius: 16px;
	justify-content: space-between;
}
.cardfour h4{
	font-size: 24px;
	font-weight: bold;
	width: 100%;
}
.cardfour p{
	line-height: 1.3em;
	top: 50%;
	font-size: 16px;
	position: absolute;
	width: 80%;
}
.cardfour__num{
	font-size: 42px;
	font-weight: bold;
}
.cardfour__one{
	background: #6dc3ff;
}
.cardfour__two{
	background: #36acff;
}
.cardfour__tree{
	background: #2593ea;
}
.cardfour__four{
	background: #035dba;
}

.twomin__section{
	color: white;
	background: #2593ea;
}
.twomin__section img{
	height: 125px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.twomin__section p{
	font-size: 18px;
}
.videotreni__section{
	color: white;
	text-align: center;
	background: #252525;
}
.videotreni__section video{
	width: 50%;
	border-radius: 6px;
	margin-bottom: 60px;
}
.videotreni__section img{
	margin-bottom: 20px;
	height: 120px;
}
.videotreni__section p{
	font-size: 18px;
}
.job__section{
	color: white;
	background: url(../img/bady-qb-215032-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.job__section:before{
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #5cbbff;
	opacity: 0.7;
	position: absolute;
}
.job__card{
	text-align: center;
	background: #36abff;
	height: 310px;
	overflow: hidden;
	position: relative;
}
.job__card img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}
.job__card p{
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	position: absolute;
	width: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.child__section h2{
	text-align: left;
}
.child__section__image{
	height: 410px;
	width: 470px;
	border-radius: 16px;
	position: relative;
	overflow: hidden;
}
.child__section__image img{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.special__block{
	height: 370px;
	overflow: hidden;
	position: relative;
}
.special__block img{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.special__block p{
	color: white;
	z-index: 100;
	position: absolute;
	left: 10px;
	top: 5px;
}
.offer__special{
	font-weight: bold;
	font-size: 44px;
	color: white;
	z-index: 100;
	position: absolute;
	right: 10px;
	bottom: 10px;
	text-align: right;
}
.special__block:before{
	height: 100%;
	width: 100%;
	display: block;
	content: '';
	position: absolute;
	background:-moz-linear-gradient(90deg, rgb(61, 61, 61) 0%, rgba(255, 255, 255, 0) 100%);
	background:-webkit-linear-gradient(90deg, rgb(61, 61, 61) 0%, rgba(255, 255, 255, 0) 100%);
	background:-ms-linear-gradient(90deg, rgb(61, 61, 61) 0%, rgba(255, 255, 255, 0) 100%);
}
.reviews__section{

}
.reviews__block{
	height: 300px;
	position: relative;
	background: #e1e1e1;
	border-radius: 8px;
	margin: 15px 0;
}
.reviews__block__header{
	display: inline-flex;
	margin: 20px 20px 10px;
	width: 100%;
	position: relative;
}
.reviews__block__header h5,
.reviews__block__header p{
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
}
.reviews__block__header p{
	color: #585858;
}
.reviews__block__header img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.reviews__block__body{
	height: 50%;
	overflow: hidden;
	position: relative;
	width: 100%;
	padding: 0 18px;
}
.reviews__block__footer{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.reviews__block__footer a{
	color: white;
	font-size: 14px;
	text-align: center;
	background: #36abff;
	padding: 5px 28px;
	border-radius: 4px;
	transition: 0.2s;

}
.reviews__block__footer a:hover{
	background: white;
	color: #36abff;
}

.section__price{
	background: #363636;
	color: white;
}
.table__price{
	width: 100%;
	margin: 0 auto;
}
.table__price thead{
	color: black;
	background: #ebebeb;
}

.table__price__first{
	padding: 18px;
	font-size: 20px;
}
.table__price__th{
	font-size: 16px;
	padding: 18px;
	width: 13%;
	text-align: center;
}
.table__price__th__second{
	width: 50%;
}
.table__price__td{
	text-align: left;
	padding: 10px 0;
}
.table__price tbody{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
}
.table__price tbody tr{
	border-bottom: 3px solid #ebebeb;
	transition: 0.2s;
}
.table__price tbody tr:hover{
	background: #404040;
	font-size: 110%;
}
.tpth__yellow{
	background: #ffd336;
}
.tpth__purple{
	background: #a257ff;
}
.tpth__green{
	background: #36ff57;
}
.tpth__blue{
	background: #36abff;
}
.tpth__red{
	background: #ff3636;
}

.tptd__yellow{
	color: #ffd336;
}
.tptd__red{
	color: #ff3636;

}
.tptd__green{
	color: #36ff57;
}
.tptd__blue{
	color: #36abff;
}
.tptd__purple{
	color: #a257ff;
}

footer{
	width: 100%;
	height: 300px;
	position: relative;
	background: #035dba;
	color: white;
}
.footer__block{
	position: relative;
}
.feedback__footer{
	background: #035dba;
	padding: 0;
	transform: translate(0%,-50%);
	border-radius: 6px;
	padding: 20px;
}

.feedback__footer input{
	transform: none; 
	margin: 20px auto;
	width: 80%;
}